@charset "utf-8";

/* CSS Document */
body {}

p,
h2,
h4 {
    color: black !important;
}

h3 {
    font-family: 'zingrust';
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.DMSANS {
    font-family: "DMSANS", sans-serif;

}

@font-face {
    font-family: 'DMSans';
    src: url('/FFXIVPF2/Assets/fonts/DMSANS.ttf') format('truetype');
}

@font-face {
    font-family: 'zingrust';
    src: url('/FFXIVPF2/Assets/fonts/zingrust.otf') format('truetype');
}


.caveat-brush-regular {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Lilita One", sans-serif;
    text-shadow: 0px 7px 0px black;
    color: white;
    font-size: 70px;
}

.top_button {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 250px;
    border: solid black 1px;
    box-shadow: 0px 5px 0px black;
    border-radius: 0px 0px 5px 5px;
}

.caveat {
    font-family: "Caveat Brush", cursive;
}

.fight {
    background-color: #FFF5B4;
    padding: 10px;
    box-shadow: 0px 3px 0px black;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    font-family: "Caveat Brush", cursive;
    font-size: 26px;
}

.yellow_button {
    background-color: #FFF5B4;
    padding: 10px;
    box-shadow: 0px 3px 0px black;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    border: solid black 1px;
    font-family: "Caveat Brush", cursive;
    font-size: 26px;
    text-transform: uppercase;
}

.choose_div {
    background-color: #FFF5B4;
    padding: 10px;
    box-shadow: 0px 3px 0px black;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    border: solid black 1px;
    font-family: "Caveat Brush", cursive;
    font-size: 26px;
    margin-top: 10px;
    text-transform: uppercase;
}

.dynamic_bee_button {
    background-color: #FFDE59;
    padding: 10px;
    box-shadow: 0px 3px 0px black;
    border-radius: 5px 5px 5px 5px;
    border: solid black 1px;
    font-family: 'zingrust';
    font-size: 26px;
    margin-top: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    transition: all 100ms ease-out;
}

.choose_buttons {
    background-color: transparent;
    width: 100%;
    font-family: "Caveat Brush", cursive;
    text-align: left;
}

.choose_buttons:hover {
    background-color: #bcbd3d;
}

.fight option {
    background-color: #FFF5B4;
    padding: 10px;
    font-family: "Caveat Brush", cursive;
}

.intro_container {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 50px;
}

.text_intro_container {
    max-width: 400px;
}

.big_bee_laptop {
    background-image: url(Assets/Images/bee_laptop.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 700px;
    height: 550px;
}

#mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.top_button {
    background-color: #FDBD04 !important;
}

.big_p {
    font-size: 22px;
}

.bottom_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    text-align: left;
    margin-left: 100px;
    max-width: 1150px;
}

.bottom_container h1 {
    text-align: left;
}

.bottom_container p {
    text-align: left;
}

#fru_positions_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.choose_class {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: left;
    max-width: 300px;
}

.whiteText {
    color: white !important;
}

.tank,
.dps,
.support {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #FFF5B4;
    border-radius: 12px;
    border: 4px #A99261 solid;
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 100ms ease-out;
}

.tank {
    background-color: #3F54B9;
}

.dps {
    background-color: #803B3C;
}

.support {
    background-color: #487B39;
}

.tank:hover,
.support:hover,
.dps:hover {
    transform: scale(1.1);
}

.cheatsheet_position_container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: flex-start;
    margin-top: 50px;
    max-width: 400px;
    margin-bottom: 25px;
}

.cheatsheet_position_image {
    background-image: url("Assets/Images/Elemental.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    cursor: pointer;
}

.blue_title {
    background-color: #4BAEF4;
    font-family: "Lilita One", sans-serif;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 60px;
    color: #1E375C;
    /*  box-shadow: 0px 7px 0px #1E375C;*/
    align-self: center;
}

.blue_button {
    background-color: #4BAEF4;
    font-family: "Caveat Brush", cursive;
    padding: 10px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 35px;
    color: #1E375C;
    width: 350px;
    box-shadow: 0px 7px 0px #1E375C;
    align-self: center;
}

.cruiserweight_mechname {
    background-color: #4BAEF4;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 1px;
    font-size: 40px;
}

.red_button {
    background-color: #CC0707;
    font-family: "Caveat Brush", cursive;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 35px;
    color: white;
    width: 350px;
    margin-top: -27px;
    box-shadow: 0px 3px 0px black;
    align-self: center;
}

.blue_button_number {
    font-family: "Lilita One", sans-serif;
}

.cheatsheet_image {
    background-image: url("Assets/Images/Elemental.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

.fight_layout {
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 26px;
    justify-content: left !important;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 98%;

}

.strat_layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

}

.strat_image_container {
    padding: 15px;
    margin-top: 15px;
    border-radius: 12px;
    border: 3px dashed #4BAEF4;
    background-color: #121A20;
    height: 100%;
    text-align: center;
    min-width: fit-content;

}

.cruiserweight {
    border: 3px solid #fff;
}

.strat_image {
    background-size: 100% 100%;
    background-position: center;
    /* Centers the image nicely */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    width: 100%;
    /* Or whatever width you want */
    height: 300px;
    /* Or whatever height you want */
}

.strat_image_big {
    background-size: contain;
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 800px;
    height: 600px;
    text-align: center;
}

.fru-strat1 {
    background-image: url("Assets/Images/fru-strat1.png");
}

.fru-strat2 {
    background-image: url("Assets/Images/fru-strat2.png");
}

.fru-strat3 {
    background-image: url("Assets/Images/fru-strat3.png");
}

.fru-strat4 {
    background-image: url("Assets/Images/fru-strat4.png");
}

.fru-strat5 {
    background-image: url("Assets/Images/fru-strat5.png");
}

.fru-strat6 {
    background-image: url("Assets/Images/fru-strat6.png");
}

.fru-strat7 {
    background-image: url("Assets/Images/fru-strat7.png");
}

.fru-strat8 {
    background-image: url("Assets/Images/fru-strat8.png");
}

.fru-strat9 {
    background-image: url("Assets/Images/fru-strat9.png");
}

.fru-strat10 {
    background-image: url("Assets/Images/fru-strat10.png");
}

.fru-strat11 {
    background-image: url("Assets/Images/fru-strat11.png");
}

.fru-strat12 {
    background-image: url("Assets/Images/fru-strat12.png");
}

.fru-strat13 {
    background-image: url("Assets/Images/fru-strat13.png");
}

.fru-strat14 {
    background-image: url("Assets/Images/fru-strat14.png");
}

.fru-strat15 {
    background-image: url("Assets/Images/fru-strat11.png");
}

.fru-strat16 {
    background-image: url("Assets/Images/fru-strat16.png");
}

.fru-strat17 {
    background-image: url("Assets/Images/fru-strat11.png");
}

.fru-strat18 {
    background-image: url("Assets/Images/fru-strat18.png");
}

.fru-strat19 {
    background-image: url("Assets/Images/fru-strat19.png");
}

.fru-strat20 {
    background-image: url("Assets/Images/fru-strat20.png");
}

.fru-strat21 {
    background-image: url("Assets/Images/fru-strat21.png");
}

.fru-strat22 {
    background-image: url("Assets/Images/fru-strat22.png");
}


.footer_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: #FDBD04;
    border-radius: 50px 50px 0px 0px;
    align-content: center;
    align-items: center;
    padding-bottom: 75px;
    margin-top: 50px;
}

.bee_footer {
    padding: 10px;
}

footer {
    margin-left: 0px;
    width: 100%;
    position: relative;
}

.bee_footer_image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Assets/Images/bees_footer.png);
    width: 100%;
    height: 290px;
    /* position: absolute; */
    /* bottom: 0; */
    /* top: 253px; */
    left: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer_buttons button {
    background-color: #FFF5B4;
    box-shadow: 0px 3px 0px black;
    border-radius: 0px 0px 5px 5px;
    border: solid black 1px !important;
    font-family: "Caveat Brush", cursive;
    font-size: 26px;
    margin-top: 10px;
    z-index: 9999;
    position: relative;
    text-transform: uppercase;
}

.footer_button_1 {
    background-color: #10B7A9 !important;
    margin-right: 30px;
}

@media only screen and (max-width: 767px) {
    .intro_container {
        flex-direction: column;
    }

    .dynamic_bee_button {
        width: 95% !important;
    }



    .bee_footer_image {
        top: 477px;
    }

    .cheatsheet_image {
        height: 300px;
    }

    .intro_container {
        margin-left: 0px;
    }

    .cheatsheet_position_image {
        width: auto;
        height: 300px;
        cursor: pointer;
    }

    .bottom_container {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 320px) {}

.cheatsheet_image,
.cheatsheet_title {
    display: none;
}

.cheatsheet_image.visible,
.cheatsheet_title.visible {
    display: block;
}

.kofi_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 12px;
    background-color: #FFF5B4;
    padding: 5px 7px 4px 5px;
    box-shadow: 0px 5px 0px black;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: all 100ms ease-out;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



.kofi_bee_kana {
    background-image: url("Assets/Images/kana_bee.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    transition: all 100ms ease-out;
}

.kofi_bee_maro {
    background-image: url("Assets/Images/maro_bee.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    transition: all 100ms ease-out;
}


.kofi_kana:hover .kofi_bee_kana {
    background-image: url("Assets/Images/kana_bee_hovered.png");
    transform: scale(1.2);
}

.kofi_kana:hover {
    background-color: unset !important;
    border: dashed black 2px !important;
    box-shadow: none;
}

.kofi_maro:hover .kofi_bee_maro {
    background-image: url("Assets/Images/maro_bee_hovered.png");
    transform: scale(1.2);
}

.kofi_maro:hover {
    background-color: unset !important;
    border: dashed black 2px !important;
    box-shadow: none;
}





.kofi_dev h1 {
    color: black !important;
    text-shadow: none;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;

}

.kofi_dev p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;

}


footer a:hover,
footer a:visited,
footer a:link,
footer a:active {
    text-decoration: none;
}

.kofi_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: #FDBD04;
    transition: all 100ms ease-out;
    border-radius: 50%;
    padding: 3px;

}

.strats_container {
    display: flex;
    flex-direction: row;
}

.white_text {
    color: white !important;
    text-align: left;
}


.small {
    min-width: 150px !important;
    max-width: 150px !important;

}

.medium {
    min-width: 300px !important;
    max-width: 300px !important;
}

.large {
    min-width: 600px !important;
    max-width: 600px !important;
}

.xlrage {
    min-width: 900px !important;
    max-width: 900px !important;
}

.customsizeM6s {
    min-width: 990px;
    max-width: 990px;
}

@media (max-width: 1120px) {
    .customsizeM6s {
        min-width: 95%;
        max-width: 95%;
    }
}

.image_of_strat {
    width: 100%;
    height: auto;
    /* Keeps the image’s aspect ratio */
    display: block;
    /* Removes extra space below the image */
}

/* .rose_border {
    border: 3px solid #F88379;
    border-radius: 12px;
}

.white_border {
    border: 3px solid white;
    border-radius: 12px;
}

.purple_border {
    border: 3px solid #a156a2;
    border-radius: 12px;
}

.blue_border {
    border: 3px solid #5655a5;
    border-radius: 12px;
}

.brown_border {
    border: 3px solid #aa4e35;
    border-radius: 12px;
}

.yellow-green_border {
    border: 3px solid #b9b53b;
    border-radius: 12px;
}

.green_border {
    border: 3px solid #478842;
    border-radius: 12px;
} */

/*responsive phone and tablet design*/
@media only screen and (max-width:1000px) {


    /*Positions responsive*/

    .intro_container {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .big_bee_laptop {
        width: 100%;
        height: 200px;
        margin-top: 50px;
    }

    .yellow_button {
        width: 90%;
    }

    .choose_div {
        width: 90%;
    }

    /*Strat page responsive*/
    .strats_container {
        flex-direction: column;
    }

    .intro_container {
        position: unset !important;
    }

    .footer_buttons {
        flex-direction: column;
        justify-content: left;


    }

    .footer_container {
        display: block;


    }

    #fru_positions_wrapper {
        overflow: hidden;
    }

    h1 {
        font-size: 40px;
    }

    .main_container_m5s {
        margin-left: 25px !important;
        max-width: 100%;
    }


    .small {
        min-width: 90% !important;
        width: 90%;

    }

    .medium {
        min-width: 90% !important;
        width: 90%;

    }

    .large {
        min-width: 80% !important;
        width: 85%;
    }

    .xlrage {
        min-width: 90% !important;
        width: 75%;
    }

    .fight_layout {
        max-width: 400px;
    }

    .footer_text {
        margin-left: 10px;
        margin-top: 10px !important;
    }

    .footer_h1 {
        margin-left: 10px;
    }

    .explaination {
        margin-top: 35px;
    }

    .whiteText {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .KYP_title {
        font-size: 34px !important;
    }

}


@media only screen and (max-width:1828px) {
    .strats_container {
        flex-direction: column;
    }

    .intro_container {
        position: unset !important;
    }

    .choose_class {
        background-color: #e8dcaa;
        padding: 10px;
        box-shadow: unset;
        border-radius: unset;
        width: 100%;
        border: unset;
        height: 50px;
        position: fixed;
        bottom: 0;
        left: 5;
        z-index: 1;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
    }

    .dynamic_bee_button {
        min-width: 400px;
        width: 400px;
        background-color: #FFF5B4;
        padding: 10px;
        box-shadow: unset;
        border-radius: 0px 0px 5px 5px;
        border: unset;
        position: fixed;
        bottom: 0;
        left: 5;
        z-index: 100;
        height: 50px;
        width: 100%;
        cursor: pointer;
        user-select: none;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);

    }

    .selected_CLASS {
        margin-right: 50px;
    }

    #remove-all {
        display: none;
    }

    footer {
        z-index: 100;
    }
}

.explaination {
    margin-top: 35px;
    font-family: 'zingrust';

    font-size: 20px;
}



.phase_2 {
    display: flex;
    background-color: #FDBD04 !important;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-top: 36px;
    border: solid black 1px;
    min-width: 400px;
    border-radius: 0px 0px 5px 5px;
}

.phase_2>p {
    font-size: 21px;
    font-family: 'zingrust';
}

.strat_image_container {
    padding: 15px;
    margin-top: 15px;
    border-radius: 12px;
    border: 3px solid white !important;
    background-color: #121A20;
    height: 100%;
    text-align: center;
    min-width: fit-content;
}



.choose_strat_button {
    background-color: #FFF5B4;
    padding: 10px;
    box-shadow: 0px 3px 0px black;
    border-radius: 5px;
    border: solid black 1px;
    font-family: 'zingrust';
    font-size: 26px;
    margin-top: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    transition: all 100ms ease-out;
    text-align: center;
}

.choose_strat_button:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 2px black;
}

.choose_strat_button_active {
    background-color: #15DFCE;
    padding: 10px;
    box-shadow: 0px 3px 0px black;
    border-radius: 5px;
    border: solid black 1px;
    font-family: 'zingrust';
    font-size: 26px;
    margin-top: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    transition: all 100ms ease-out;
    text-align: center;
}

.choose_strat_button_active:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 2px black;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.hidden {
    display: none;
}

.strats_two {
    display: flex;
    flex-direction: row;
}
