/* Empty CSS Code */
.m5s_1 {
    mask-image: radial-gradient(circle at 88.8% 30%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.m5s_2 {
    mask-image: radial-gradient(circle at 87.8% 72%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.m5s_3 {
    mask-image: radial-gradient(circle at 36.8% 75%, black 9%, rgba(0, 0, 0, 0.2) 9%), 
    radial-gradient(circle at 87.8% 28%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.m5s_4 {
}

.m5s_5 {
    mask-image: radial-gradient(circle at 89.8% 90%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.m5s_6 {
        mask-image: radial-gradient(circle at 90.8% 90%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.m5s_7 {
    mask-image: radial-gradient(circle at 86.8% 93%, black 9%, rgba(0, 0, 0, 0.2) 9%), 
    radial-gradient(circle at 77.8% 57%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.m5s_8 {
    mask-image: radial-gradient(circle at 75.8% 28%, black 37%, rgba(0, 0, 0, 0.2) 37%);
}

.m5s_9 {
    mask-image: radial-gradient(circle at 73.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}