/* Empty CSS Code */
.m5s_1 {
    mask-image: radial-gradient(circle at 47% 14.6%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.m5s_2 {
    mask-image: radial-gradient(circle at 12% 31.6%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.m5s_3 {
    Mask-image: radial-gradient(circle at 12% 26.6%, black 4%, rgba(0, 0, 0, 0.2) 5%), 
    radial-gradient(circle at 63% 75%, black 6%, rgba(0, 0, 0, 0.2) 5%);
}

.m5s_4 {
}

.m5s_5 {
}

.m5s_6 {
}

.m5s_7 {
}

.m5s_8 {
}

.m5s_9 {
}