.recollection_1 {
  mask-image: radial-gradient(circle at 28.8% 25%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.recollection_2 {
  mask-image: radial-gradient(circle at 40% 12%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.recollection_3 {
  mask-image: radial-gradient(circle at 20% 80%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.recollection_4 {
  mask-image: radial-gradient(circle at 50% 80%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.recollection_5 {
  mask-image: radial-gradient(circle at 73% 47%, black 30%, rgba(0, 0, 0, 0.2) 9%),
   radial-gradient(circle at 60% 95%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.recollection_6 {
  
}
.recollection_7 {
  
}
.recollection_8 {
  mask-image: radial-gradient(circle at 50.8% 34.6%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.recollection_9 {
  mask-image: radial-gradient(circle at 50% 20.6%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.recollection_10 {
 
}
.recollection_11 {
  mask-image: radial-gradient(circle at 47% 39.6%, black 9%, rgba(0, 0, 0, 0.2) 9%),
   radial-gradient(circle at 28% 49.6%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.selected_CLASS{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #FFF5B4;
  border-radius: 12px;
  border: 4px #A99261 solid;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 100ms ease-out;
  background-color: #803B3C;
}
.selected_CLASS:before{
  content: "D3";
}


.ST, .D1, .D2, .MT, .D4, .H1, .H2{
    filter: grayscale(1);
}