/* Empty CSS Code */
.M8S_1 {
    mask-image: radial-gradient(circle at 70.8% 30%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_2 {
        mask-image: radial-gradient(circle at 11.8% 72%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_3 {
        mask-image: radial-gradient(circle at 12.8% 30%, black 9%, rgba(0, 0, 0, 0.2) 9%), 
        radial-gradient(circle at 63.8% 74%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_4 {
}

.M8S_5 {
    mask-image: radial-gradient(circle at 9.8% 90%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_6 {
    mask-image: radial-gradient(circle at 9.8% 90%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_7 {
    mask-image: radial-gradient(circle at 14.8% 24%, black 9%, rgba(0, 0, 0, 0.2) 9%), 
    radial-gradient(circle at 22.8% 9%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_8 {
    mask-image: radial-gradient(circle at 31.8% 28%, black 37%, rgba(0, 0, 0, 0.2) 37%);
}

.M8S_9 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_10 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_11 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_12 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}


.M8S_13 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_14 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_15{
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_16{
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_17 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_18 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_19 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_20 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_21 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_22 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_23 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_24 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_25 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_26 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_27 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_28 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_29 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_30 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.M8S_31 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}

.M8S_32 {
    mask-image: radial-gradient(circle at 29.8% 24%, black 27%, rgba(0, 0, 0, 0.2) 26%), 
    radial-gradient(circle at 65.8% 91%, black 9%, rgba(0, 0, 0, 0.2) 9%);
}
.selected_CLASS{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #FFF5B4;
  border-radius: 12px;
  border: 4px #A99261 solid;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 100ms ease-out;
  background-color: #803B3C;
}
.selected_CLASS:before{
  content: "D3";
}


.ST, .D1, .D2, .MT, .D4, .H1, .H2{
    filter: grayscale(1);
}